body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
    gap:1rem;
    /* width: ; */
}

.Logo{
    width:50px;
    height:50px;
    border-radius: 50px;
    box-sizing: border-box;
}

.inputBox{
    border:2px solid rgb(106, 36, 160);
    padding:5px;
    border-radius: 10px;
    background-color: rgb(15,6,23);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inputBox>input[type=text]{
    background-color:rgb(15,6,23);
    border:none;
    outline: none;
    width:14vw;
    color:white;
    transition: width 1.2s ease-out;
}

.inputBox>input[type=text]:focus{
    width:19vw;
}
.butt{
    text-decoration: none;
    /* padding:7px 12px; */
    border-radius: 10px;
    color: #fff;
    background-color:rgb(10, 9, 10); ;
    font-weight: 500;
    font-size: 1rem;
    border:1px solid #fff;
    height: 2rem;
}
.butt:hover{
    transition: background-color .5s ease-in;
    color:green;
    cursor: pointer;
    background-color: #fff;
}
a{
    text-decoration: none;
}
.link2{
    display: block;
    position: relative;
}
.link2::after{
    content: "";
    background: #fff;
    /* height: 2px; */
    left:0px;
    bottom: -5px;
    position: absolute;
    right: 0;
    transform: scale(0,1);
    transition: all 0.3s ease-in;
}
.link2:hover::after{
    transform: scale(1,1);
    height: 2px;
}

.login {
    position: relative;
    color: white !important;
    z-index: 1;
    background-color: transparent !important;
    border: 2px solid rgb(255, 255, 255);
    padding: 0px 6px !important;
    font-size: 0.9rem !important;
    font-weight: 500;
    height: 2rem !important;
    margin: 0.3rem 0rem 0rem;
    border-radius: 3px !important;

     &>span{
        padding: 0px !important;
        gap:0px !important;
        margin: 0px !important;
        
        &>svg{
            padding:0px !important;
            height: 0.9rem !important;
            width: 1.3rem !important;
            margin-bottom: 0rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(27, 212, 79);
        width: 100%;
        /* height: 0%; */
        height: 100%;
        transform: scale(0,0);
        z-index: -1;
        transition: all 0.1s ease;
    }

    &:hover {
        z-index: 1;
        color: white;
       
        &::before {
            z-index: -1;
            /* height: 100%; */
            transform: scale(1,1);
        }
    }
}
.buyplane {
    position: relative;
    color: white !important;
    z-index: 1;
    background-color: rgb(197, 6, 197) !important;
    border: 2px solid rgb(255, 255, 255);
    padding: 0px 4px 0px 0px !important;
    font-size: 1rem !important;
    font-weight: 500;
    height: 2rem !important;
    margin: 0.3rem 0rem 0rem;
    border-radius: 3px !important;
    &>span{
        padding: 0px !important;
        gap:0px !important;
        margin: 0px !important;
        
        &>svg{
            padding:0px !important;
            height: 1rem !important;
            width: 1.5rem !important;
            margin-bottom: 0rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(27, 212, 79);
        width: 100%;
        /* height: 0%; */
        height: 100%;
        transform: scale(0,0);
        z-index: -1;
        transition: all 0.1s ease;
    }

    &:hover {
        z-index: 1;
        color: white;
       
        &::before {
            z-index: -1;
            /* height: 100%; */
            transform: scale(1,1);
        }
    }
}


/* .buyPlane{
    font-size: 0.9rem;
    padding:0.68rem;
} */
.searchIcon{
    width: 1rem !important;
    height: 1rem !important;
}
/* .hamOpt{
    
} */


@media screen and (min-width:481px) and (max-width:768px){
    .link2{
        display: none;
    }
    .Logo{
    width:35px;
    height:35px;
    border-radius: 35px;
    box-sizing: border-box;
}
.inputBox>input[type=text]{
    font-size: 0.85rem;
    width: 50vw;
}

.inputBox>input[type=text]:focus{
    width:55vw;
}
.buyPlane{
    font-size: 0.7rem;
    padding:0.4rem
}
.butt{
    height: 1.5rem !important;
    font-size: 0.7rem !important;
}
.buyplaneBut{
    display: none;
}
.searchIcon{
    width: 0.85rem !important;
    height: 0.85rem !important;
}
.login {
    border: 1.5px solid rgb(255, 255, 255);
    padding: 0px 4px !important;
    font-size: 0.75rem !important;
    font-weight: 400;
    height: 1.8rem !important;
    margin: 0.2rem 0rem 0rem;
    border-radius: 3px !important;
    display: none !important;
}
.buyplane {
    border: 1.5px solid rgb(255, 255, 255);
    padding: 0px 4px 0px 0px !important;
    font-size: 0.75rem !important;
    font-weight: 400;
    height: 1.8rem !important;
    margin: 0.2rem 0rem 0rem;
    border-radius: 3px !important;
    display: none !important;

     &>span{
        padding: 0px !important;
        gap:0px !important;
        margin: 0px !important;
        
        &>svg{
            padding:0px !important;
            height: 0.8rem !important;
            width: 1.3rem !important;
            margin-bottom: 0rem;
        }
    }
}
.link3{
    font-size: 0.9rem;
 }

}


@media screen and (min-width:200px) and (max-width:480px){
    .link2{
        display: none;
    }
    .Logo{
    width:28px;
    height:28px;
    border-radius: 28px;
    box-sizing: border-box;
}
.navbarInput{
    height: 0.7rem;
    width: 1rem;
}

.inputBox>input[type=text]{
    font-size: 0.75rem;
    width: 40vw;
}
.inputBox>input[type=text]:focus{
    width:45vw;
}
.buyPlane{
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    font-weight: 300;
    /* min-width: 3.9rem; */
    display: none;
}

.butt{
    height: 1.3rem !important;
    font-size: 0.6rem !important;
    padding: 0.3rem 0.6rem !important;
    border-radius: 3px !important;
    font-weight: 300;
    min-width: 1rem ;
}
.Navbar{
    padding:10px 10px;
}
.buyplaneBut{
    display: none;
}
.searchIcon{
    width: 0.6rem !important;
    height: 0.6rem !important;
}
.login {
    border: 1.5px solid rgb(255, 255, 255);
    padding: 0px 4px !important;
    font-size: 0.65rem !important;
    font-weight: 400;
    height: 1.6rem !important;
    margin: 0.15rem 0rem 0rem;
    border-radius: 3px !important;
    display: none !important;
}
.buyplane {
    border: 1.5px solid rgb(255, 255, 255);
    padding: 0px 4px 0px 0px !important;
    font-size: 0.7rem !important;
    font-weight: 400;
    height: 1.6rem !important;
    margin: 0.15rem 0rem 0rem;
    border-radius: 3px !important;
    display: none !important;

     &>span{
        padding: 0px !important;
        gap:0px !important;
        margin: 0px !important;
        
        &>svg{
            padding:0px !important;
            height: 0.7rem !important;
            width: 1.2rem !important;
            margin-bottom: 0rem;
        }
    }
}
.link3{
    font-size: 0.75rem;
 }

}
