body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
}

.Logo{
    width:50px;
    height:50px;
    border-radius: 50px;
    box-sizing: border-box;
}

.inputBox{
    border:2px solid rgb(106, 36, 160);
    padding:5px;
    border-radius: 6px;
    background-color: rgb(15,6,23);
}

.inputBox>input[type=text]{
    background-color:rgb(15,6,23);
    border:none;
    outline: none;
    width:200px;
    color:white;
    transition: width 1.2s ease-out;
}

.inputBox>input[type=text]:focus{
    width:250px;
}
.butt{
    text-decoration: none;
    padding:7px 12px;
    border-radius: 10px;
    color: #fff;
    background-color:rgb(10, 9, 10); ;
    font-weight: 500;
    font-size: 1rem;
    border:1px solid #fff;;
}
.butt:hover{
    transition: background-color .5s ease-in;
    color:green;
    cursor: pointer;
    background-color: #fff;
}
a{
    text-decoration: none;
}
.link2{
    display: block;
}

@media screen and (min-width:481px) and (max-width:768px){
    .link2{
        display: none;
    }
}
@media screen and (min-width:200px) and (max-width:480px){
    .link2{
        display: none;
    }
}