:root{
    --login-btn-color:#8230c6;
    --login-header-color:#333333;
    --login-subhead-color:#4F4F4F;
    --login-font-fmly:NotoSansMedium,sans-serif;
    --bg-color:#fff;
}

.login{
    font-family: var(--login-font-fmly);
    background: var(--bg-color);
    height: 33rem;
    width: 25rem;
    margin: 2rem auto;
    border-radius: 16px;
    padding:1.4rem 0rem;
    padding: 1.25rem auto;
    font-size: 1rem;
}

.mainHead{
    color:var(--login-header-color);
}

.subhead{
    color:var(--login-subhead-color);
    line-height: 1.2rem;
    margin:1rem auto 1.3rem;
    font-size: 1rem;
    width: 80%;
}

.icons{
    width:80%;
    margin: 3rem auto 2rem;
}

.optionOr{
    margin: 1rem auto;
    align-items: center;
    gap:1rem;
    margin:3rem auto;
}
.optionOr>div{
    border: 1px solid rgb(216, 216, 216);
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
}

.optionOr::before{
    content: "";
    width: 43%;
    height: 0.1em;
    background-color: #cdcdcd;
}
.optionOr::after{
    content: "";
    width: 43%;
    height: 0.1em;
    background-color: #cdcdcd;
}
.input{
    width: 80%;
    margin: 2rem auto 0rem;
}
.button{
    width: 80%;
    padding:0.5rem;
    border-radius: 5px;
    margin: 2rem auto;
    background-color: var(--login-btn-color);
    color:white;
}


/* tab view */
@media all and (min-width:481px) and (max-width:768px){
    
}

/* mobile view */
@media all and (min-width:100px) and (max-width:480px){

}