.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cont{
  /* border:1px solid red; */
  margin:auto;
  height:100vh;
  width:100%;
  overflow: hidden;
  height: auto;
}


.divMain{
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 4px;
  
}

body::-webkit-scrollbar-track {
  box-shadow: border-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  /* border-radius: 30px; */
 
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height:1rem;
  box-shadow: border-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  color:green;
  background:linear-gradient(to bottom, rgb(249, 9, 9),white, rgb(0, 255, 140), rgb(252, 6, 252) )
  
}

/*  */
.phoneNumber::-webkit-scrollbar-thumb{
  height:1.1rem;
  background:grey;
  border-radius: 10px;
}
.phoneNumber::-webkit-scrollbar {
  width: 5px;
}
.phoneNumber::-webkit-scrollbar-track {
  box-shadow: border-box;
  -webkit-box-shadow:inset 0px 0px 6px rgb(72, 66, 66);
}

#buttons{
  display: inline;
  position:fixed;
  bottom: 1rem;
  left:90vw;
  /* border: 1px solid green; */
  z-index: 1000;
  background-color: none;
  width:auto;
  margin-right:1rem;
}
#buttons>div{
  display: inline;
  margin-right:10px;
}
#buttons>div>button{
  background-color: red;
  color:white;
  font-weight: 700;
}
/* body{
  height:1200px;
} */
#scroller {
  overflow-y: scroll;
  height: 150px;
  width: 150px;
  border: 5px dashed orange;
}

#output {
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  background-color: green;
}

.mainCont{
 display:grid;grid-template-columns:repeat(5, 1fr);gap:1rem;
 margin:"20px";
height: auto;
}
.mainCont>div>img{
  height: 300px;
}

/* Login contry code selector login page*/
.chakra-select.css-1gpsbw3{
  padding: 0px!important;
  text-align: center;
}

/* 
.ytp-overflow-icon {
  display: none !important;
}

.ytp-button:not([aria-disabled=true]):not([disabled]):not([aria-hidden=true]) {
  display: none !important;
}
.ytp-chrome-controls .ytp-button.ytp-youtube-button, .ytp-small-mode .ytp-chrome-controls .ytp-button.ytp-youtube-button, .ytp-embed .ytp-chrome-controls .ytp-button.ytp-youtube-button, .ytp-embed.ytp-small-mode .ytp-chrome-controls .ytp-button.ytp-youtube-button, .ytp-dni.ytp-embed .ytp-chrome-controls .ytp-button.ytp-youtube-button{
  display: none!important;
}
.ytp-cards-button-icon {
  display: none !important;
}
.ytp-overflow-icon {
  display: none !important;
}
.ytp-embed:not(.ad-showing) .ytp-title-text {
  display: none !important;
}
.ytp-title-enable-channel-logo .ytp-title-channel {
  display: none !important;
} */



@media  screen and (min-width: 300px) and (max-width:1000px){
  .mainCont{
   grid-template-columns: repeat(4, 1fr);
  }
}


@media all and (min-width:481px) and (max-width:768px) {
   body::-webkit-scrollbar {
  width: 0px;
  
}

}

@media all and (min-width:100px) and (max-width:480px) {
   body::-webkit-scrollbar {
  width: 0px;
  
}
}


