.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cont{
  /* border:1px solid red; */
  margin:auto;
  height:100vh;
  width:99.5%;
  overflow: hidden;
  height: auto;
}



.divMain{
  overflow-y: scroll;
}

img{
  width:100%;
}
::-webkit-scrollbar { 
  width: 1px;
  
} 
::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  box-shadow: border-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 30px;
 
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height:1rem;
  box-shadow: border-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  color:green;
  background:linear-gradient(to bottom, rgb(249, 9, 9),white, rgb(0, 255, 140), rgb(252, 6, 252) )
  
}

#buttons{
  display: inline;
  position:fixed;
  bottom: 1rem;
  left:90vw;
  /* border: 1px solid green; */
  z-index: 1000;
  /* background-color: rgba(226, 226, 81, 0.1); */
  background-color: none;
  width:auto;
  margin-right:1rem;
  /* Posit"fixed",
  down:"1rem", right:"1rem", border:"2px solid green", zIndex:"5000", backgroundColor:"green" */
}
#buttons>div{
  display: inline;
  margin-right:10px;
}
#buttons>div>button{
  background-color: red;
  color:white;
  font-weight: 700;
}
body{
  height:1200px;
}
#scroller {
  overflow-y: scroll;
  height: 150px;
  width: 150px;
  border: 5px dashed orange;
}

#output {
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  background-color: green;
}

.BoxHover{
  transform: scale(1);
  margin:1rem 0rem;
  border-radius: 20px;
}
.BoxHover:hover{
  transform: scale(1.3);
  transition:transform .5s cubic-bezier(.4,0,.2,1);

  /*  cubic-bezier(0.075, 0.82, 0.165, 1); */
  border:5px solid rgba(255, 255, 255);
  z-index: 2000;
  border-radius: 10px;
  overflow: hidden;
}
.mainCont{
 display:grid;grid-template-columns:repeat(5, 1fr);gap:1rem;
 margin:"20px";
height: auto;
}
.mainCont>div>img{
  height: 300px;
}


@media  screen and (min-width: 300px) and (max-width:1000px){
  .mainCont{
   grid-template-columns: repeat(4, 1fr);
  }
}

