/* /* html{ */
  /* font-size: calc(10%-3rem); */
  /* font-size: calc(16px + 10%) */
/* }  */
*,body,html{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
h2{
  font-size: 1.5rem!Important;
}
/* button{
  color: rgb(0, 0, 0)!Important;
} */
html{
  user-select: none;
  -webkit-user-select: none;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(15,6,23); */
  color:white!Important;
  background-color: #0f0617!Important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
