.clousor{
    border:5px solid green;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    & .clouserDiv{
        position:absolute;
        visibility: hidden;
    }
    & .clouserDiv:nth-child(1){
        left:1rem;
        top:45%;
        &:hover{
            box-shadow: 0px 0px 30px rgb(217, 30, 30);
        }
    }
    & .clouserDiv:nth-child(3){
        right:1rem;
        top:45%;
        &:hover{
            box-shadow: 0px 0px 50px rgb(226, 3, 3);
        }
    }
}
.clousor:hover .clouserDiv{
    visibility: visible;
    border-radius: 1rem;
}
.logoClouser{
    width:30px;
    height:30px;
    fill:rgb(255, 255, 255);
    padding: 0.25rem;
    background-color: rgb(4, 174, 183);
    cursor: pointer;
    box-shadow: 0px 3px 8px rgb(231, 71, 71);
    border-radius: 1rem;
    transition: all 1s ease-in-out;
}

.slidingImg{
    transition: all 1s ease-in;
}
.sliding{
    height: 65vh;
}

.flickClouser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    & .dot{
        width: 0.3rem;
        height: 0.3rem;
        border: 0.5px solid rgb(255, 255, 255);
        border-radius: 0.3rem;
        box-sizing: border-box;
        transition: all 1s ease-in;
        &:hover{
            cursor: pointer;
            transition: all 0.1s ease-in;
        }
    }
    & .show{
        background-color: white;
    }
    & .change{
        background-color: rgb(220, 7, 220);
        width: 1.1rem;
        /* height: 0.325rem; */
    }

}

/* tab view */
@media all and (min-width:481px) and (max-width:768px){
    .clousor{
        border:4px solid green;
        & .clouserDiv:nth-child(1){
            left:0.5rem;
        }
        & .clouserDiv:nth-child(3){
            right:0.5rem;
        }
    }
    .logoClouser{
        width:20px;
        height:20px;
        /* margin:0.7rem; */
        gap:0px;
    } 
    .sliding{
        height: 45vh;
    }
    
.flickClouser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.3rem;
    margin-top: 0.9rem;
    & .dot{
        width: 0.22rem;
        height: 0.22rem;
        border: 0.5px solid rgb(255, 255, 255);
        border-radius: 0.3rem;
        box-sizing: border-box;
        transition: all 1s ease-in;
        &:hover{
            cursor: pointer;
            transition: all 0.1s ease-in;
        }
    }
    & .show{
        background-color: white;
    }
    & .change{
        background-color: rgb(220, 7, 220);
        width: 0.9rem;
        /* height: 0.255rem; */
    }

}
}

/* Mobile view */
@media all and (min-width:280px) and (max-width:480px){
    .clousor{
        border:3px solid green;
        & .clouserDiv:nth-child(1){
            left:0.3rem;
        }
        & .clouserDiv:nth-child(3){
            right:0.3rem;
        }
    }
    .logoClouser{
        width:15px;
        height:15px;
    } 
    .sliding{
        height: 30vh;
    }
    
.flickClouser{
    gap:0.2rem;
    margin-top: 0.7rem;
    & .dot{
        width: 0.2rem;
        height: 0.2rem;
        border: 0.5px solid rgb(255, 255, 255);
        border-radius: 0.3rem;
        box-sizing: border-box;
        transition: all 1s ease-in;
        &:hover{
            cursor: pointer;
            transition: all 0.1s ease-in;
        }
    }
    & .show{
        background-color: white;
    }
    & .change{
        background-color: rgb(220, 7, 220);
        width: 0.8rem;
        /* height: 0.225rem; */
    }

}
}