.box{
    /* padding-top: 2rem; */
    width: 100vw;
    height: 70vh;
    justify-content: space-around;
    /* align-items: flex-start; */
    align-items: center;
    overflow-y: scroll;
    /* overflow: hidden; */
    position: relative;
}
.box::-webkit-scrollbar{
  display: none;
}
.mainVideoBox{
    margin-top: 0rem;
    position: sticky;
    top:0rem;
    transition: all 1.5s ease-in;
    scroll-behavior: smooth;
}
.mainVideo{
  width:70vw;
  height: 70vh;
}
.recommendationBox{
    margin-top: 3rem;
}
.recommenedideo{
    width:25vw;
    height: 35vh;
  }

   
  @media all and (min-width:481px) and (max-width:768px) {
    .box{
        padding-top: 0rem;
    }
    .mainVideo{
        width:90vw;
        height: 75vh;
        z-index: 10;
      }
  }
 
  @media all and (min-width:270px) and (max-width:480px) {
    .box{
        padding-top: 2rem;
    }
    .mainVideo{
      width:90vw;
      height: 65vh;
      z-index: 10;
    }
  }